body,html{
    margin: 0;
    padding: 0;

}
.frontText {
	color: white;
	text-align: center;
	font-size: 150%
}
.info-head{
	font-weight: 700;
	font-size: 37px;
	margin: 10px;
}
.frontdiv {
	width:100%;
	height: 450px;
	margin: 0;
    padding: 0;
}

.new {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{margin:0;}

.info{
	margin-left: 15px;
}

.pic{
	width:100%;
	background-color: #262626;
}
div.imgcontain {
	background-color: #262626;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	width: 15%;
	transition-duration: 0.15s;
	display: inline-block;
}

div.imgcontain:hover{
	width:16%;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	transition-duration: 0.15s;
}
.projectinfo{
	text-align: center;
	background-color: #262626;
}
p.project{
	color: white;
	margin:auto;
	font-size: 1.5vw;
	font-family: Quicksand;
}
div.headnav {
	width:100%;
	height:60px;
	margin:0px;
	background-color:#006ae3;
	position:fixed;
	
}
.navbutton {
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-grid;
	font-weight:900;
	transition:0.05;
}
.navbutton:hover {
	color:#eee;
	text-decoration: none;
	transition:0.05s;
}
a,a:hover{
	text-decoration:none;
}
.logo:hover{
	cursor:pointer;
}
.info {
	font-weight:500;
	font-size:40px;
	text-align:center;
}
.info-text {
	font-weight:200;
	font-size:20px;
	text-align:center;
}
