/* Here's your CSS file. I already linked it to your webpage, as well as set up some stuff on the css end.
Right now the font is Bootstrap's default font. */

body, html {
  margin:0px;
  padding:0px;
}

/* This is what you'll want to put all of your content in. It gives your page a more modern look. You'll need to define the
color in the div element itsef */
div .fullpage {
  width: 100%;
  margin:0px;
  height:400px;
  padding:0px;
}

/* Makes headers a different font */
h1,h2,h3{
  font-family:Papyrus;
}

/* Spaces out your text so it doesn't get squished */
p{
  margin:4px;
}

body {
	background-image: url("circles.gif");
	background-repeat: repeat;
}

body {
	color: #0062ff
}
